version: '2'

services:

  #Define the Consul service
  consul_server:
    image: consul
#    networks:
#      cloudcomnet:
#        ipv4_address: 172.190.0.200
#        aliases:
#          - consul.cloudcom
    network_mode: "host"
    environment:
      CONSUL_LOCAL_CONFIG: '{"skip_leave_on_interrupt": true}'
    volumes:
      - "consul_data:/consul/data"
    ports:
      - '8300:8300'
      - '8301:8301'
      - '8301:8301/udp'
      - '8500:8500'
      - '8600:8600'
      - '8600:8600/udp'
      - '11153:53/udp'
    restart: on-failure
    command: agent -ui -data-dir /consul/data -server -bootstrap-expect 1 -bind=127.0.0.1  -client=0.0.0.0

  # Define a Prometheus service
  prometheus:
    image: prom/prometheus
    ports:
      - 9090:9090
    volumes:
      - prometheus_data:/prometheus
      - ./prometheus/prometheus-consul.yml:/etc/prometheus/prometheus.yml
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
      - '--storage.tsdb.path=/prometheus'
      - '--web.console.libraries=/usr/share/prometheus/console_libraries'
      - '--web.console.templates=/usr/share/prometheus/consoles'
#    networks:
#      cloudcomnet:
    network_mode: "host"
    # networks:
    #   prometheus_net:
    #     aliases:
    #       - prometheus
    restart: always

  # Define a Grafana service
  grafana:
    image: grafana/grafana
    depends_on:
      - prometheus
    ports:
      - 3000:3000
    volumes:
      - grafana_data:/var/lib/grafana
    env_file:
      - ./grafana/grafana.env
#    networks:
#      cloudcomnet:
    network_mode: "host"
    # networks:
    #   prometheus_net:
    #     aliases:
    #       - grafana
    restart: always

  # Define an InfluxDB service
  influxdb:
    image: influxdb
    volumes:
      - $HOME/influxdata/data/influxdb:/var/lib/influxdb
    ports:
      - 8082:8082
      - 8086:8086
      - 8089:8089
    environment:
      - INFLUXDB_DB=prometheus
      - INFLUXDB_ADMIN_USER=admin
      - INFLUXDB_ADMIN_PASSWORD=password
      - INFLUXDB_USER=prometheus
      - INFLUXDB_USER_PASSWORD=password
      - INFLUXDB_READ_USER=grafana
      - INFLUXDB_READ_USER_PASSWORD=password
#    networks:
#      cloudcomnet:
    network_mode: "host"
    # networks:
    #   prometheus_net:
    #     aliases:
    #       - influxdb
    restart: always

  # Define Prometheus - InfluxDB Persistency
  remotestorageadapter:
    image: gavind/prometheus-remote-storage-adapter:1.0
    ports:
      - 9201:9201
    command: ['-influxdb-url=http://localhost:8086', '-influxdb.database=prometheus', '-influxdb.retention-policy=autogen']
    network_mode: 'host'
    depends_on:
      - influxdb

  # Define a Chronograf service
  chronograf:
    image: chronograf:1.3.8
    environment:
      INFLUXDB_URL: http://localhost:8086
      KAPACITOR_URL: http://localhost:9092
    ports:
      - "8888:8888"
    depends_on:
      - influxdb
      - kapacitor
    network_mode: "host"
    # networks:
    #   prometheus_net:
    #     aliases:
    #       - chronograf
    restart: always

  # Define a Kapacitor service
  kapacitor:
    image: kapacitor:1.3.3
    environment:
      KAPACITOR_HOSTNAME: kapacitor
      KAPACITOR_INFLUXDB_0_URLS_0: http://localhost:8086
    depends_on:
      - influxdb
    ports:
      - "9092:9092"
    network_mode: "host"
    # networks:
    #   prometheus_net:
    #     aliases:
    #       - kapacitor
    restart: always

volumes:
  prometheus_data: {}
  grafana_data: {}
  consul_data: {}

networks:
  prometheus_net: {}
  cloudcomnet:
    ipam:
      driver: default
      config:
        - subnet: 172.190.0.0/16
